.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.heading {
  font-family: Oxygen, Gill Sans;
}

.App-link {
  color: #61dafb;
}

.main-name {
  font-size: 65px;
  color: #6593F5;
  font-weight: 45;
  font-width: 350;
  margin-block-end: 0em;
}

.major {
  font-size: 20px;
  color: #8c8c8c;
  margin-block-start: 0em;
  margin-block-end: 2em;
}

#imgContainer {
  margin-left: 0;
  margin-right: 0;
  margin-top: 15px;
}

#personalPhoto {
  border: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
